body {
    background-color: pink;
}
.parallax {
    /* The image used */
    background-image: url("imgs/paralax.jpeg");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  p {
    font-size: larger;
  }

  .navbar {
    position: absolute; 
    left: 0; 
    right: 0; 
    z-index: 1000; 
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px); 
}

h1.text-center {
  font-weight: bold;
  font-family: "Sedan", serif;
  font-weight: 900;
}

.card {
  width: 400px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  margin: auto;
  border: 4px solid black;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background: #1f3d4738;
  backdrop-filter: blur(20px);
  border-radius: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 2s;
}

.card:hover .card-body {
  right: 0;
}

.card-title {
  font-size: 20px;
}

.card-info {
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
}

.card-btn {
  color: #1f3d47;
  background: #8fabba;
  padding: 10px 20px;
  width: 120px;
  border-radius: 5px;
  text-transform: capitalize;
  border: none;
  outline: none;
  font-weight: 500;
  cursor: pointer;
}

p.card-info {
  text-align: center;
}

#education {
  padding-top: 30px;
}