body {
    background-color: pink;
}
.parallax {
    /* The image used */
    background-image: url("imgs/paralax.jpeg");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  p {
    background-color: black;
    color: white;
  }

  .navbar {
    position: absolute; 
    left: 0; 
    right: 0; 
    z-index: 1000; 
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px); 
}

h1.text-center {
  font-weight: bold;
  font-family: "Sedan", serif;
  font-weight: 900;
}