body {
    background-color: pink;
}
.parallax {
    /* The image used */
    background-image: url("imgs/paralax.jpeg");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  p {
    background-color: black;
    color: white;
  }

  .navbar {
    position: absolute; /* Position the navbar absolutely */
    top: 0; /* Place it at the top */
    left: 0; /* Align it to the left */
    right: 0; /* Align it to the right */
    z-index: 1000; /* Ensure it's on top of other content */
    background-color: rgba(255, 255, 255, 0.5); /* Add a semi-transparent background */
    backdrop-filter: blur(10px); /* Add a blur effect */
}
